{% block content %}
    <h2>New graph</h2>
    <form method="POST" class="post-form">{% csrf_token %}


        <label for="vertices_input">Vertices: </label>
            <input id="vertices_input" type="text" name="vertices_input"  required>
            <br>
        <label for="edges_input">Arestas: </label>
            <input id="edges_input" type="text" name="edges_input"  required>
            <br>
        <label for="name_input">Nome grafo: </label>
            <input id="name_input" type="text" name="name_input"  required>
            <br>
        <label for="is_directed">Grafo direcionado</label>
            <input id="is_directed" type="checkbox" name="is_directed" >
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}